<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>patientDetails Claim Search</title>
    <!-- Bootstrap CSS for better styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">patientDetails Form</h1>
    <form th:action="@{/searchPatientClaims}" th:object="${patientDetails}" method="POST">
        <div class="form-group">
            <label for="id">patient ID:</label>
            <input type="number" id="id" th:field="*{id}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="patientName">patient Name:</label>
            <input type="text" id="patientName" th:field="*{patientName}" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Search Claims</button>
        <div class="mt-5" th:if="${listClaims}">
            <h3>Claims:</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="claim : ${listClaims}">
                    <td>
                        <a th:href="@{/claimEdit(claimId = ${claim.id})}" th:text="${claim.id}"></a>
                    </td>
                    <td>
                        <span th:text="${claim.created}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <!--<h2 class="mt-5">Search Claims</h2>
    <form th:action="@{/searchClaims}" method="GET">
        <div class="form-group">
            <label for="searchpatientDetailsId">patientDetails ID:</label>
            <input type="number" id="searchpatientDetailsId" name="patientDetailsId" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>-->

</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
