<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PatientDetails Claim Search</title>
    <!-- Bootstrap CSS for better styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">PatientDetails Form</h1>
    <a class="btn btn-primary mb-3" th:href="@{/registerPatient}">New Patient</a>
    <form th:action="@{/searchPatient}" th:object="${patientDetails}" method="POST">
        <div class="form-group">
            <label for="id">Patient ID:</label>
            <input type="number" id="id" th:field="*{id}" class="form-control" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="patientName">Patient Name:</label>
                <input type="text" id="patientName" th:field="*{patientName}" class="form-control" readonly/>
            </div>
            <div class="form-group col-md-4">
                <label for="patientDOB">Date of Birth:</label>
                <input type="date" id="patientDOB" th:field="*{patientDOB}" class="form-control" readonly/>
            </div>
            <div class="form-group col-md-4">
                <label for="gender">Gender:</label>
                <input id="gender" th:field="*{gender}" class="form-control" readonly/>
            </div>
        </div>
        <div th:if="${patientExist != null and !patientExist}">
            <p class="text-danger">Patient Not Exist!!</p>
        </div>
        <button type="submit" class="btn btn-primary">Search Claims</button>
        <div class="mt-5" th:if="${listClaims}">
            <a class="btn btn-primary mb-3" th:href="@{/newClaim(patientId = ${patientDetails.id})}">New Claim</a>
            <h3>Claims:</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="claim : ${listClaims}">
                    <td>
                        <a th:href="@{/claimEdit(claimId = ${claim.id})}" th:text="${claim.id}"></a>
                    </td>
                    <td>
                        <span th:text="${claim.created}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
